.Rproj.user
.Rhistory
.RData
.Ruserdata
Fig1_TNWRRBTpaper.tif
Fig1_TNWRRBTpaper_SixDrainages.tif
Fig2_TNWRRBTPaper.tiff
Fig3_TNWRRBTPaper.tiff
Fig4_TNWRRBTPaper.tiff
Fig4_TNWRRBTPowerPoint.tiff
Fig5_TNWRRBTPaper.tiff
Fig6_TNWRRBTPaper.tiff
FigS1_TNWRRBTPaper.tiff
FigS2_TNWRRBTPaper.tiff
FigS3_TNWRRBTPaper.tiff
FigU_TNWRRBTPowerPoint.tiff
FigZ_TNWRRBTPowerPoint.tiff
Fig_KN_AR.tiff
AD.rds
AllAggr_MemProb.rds
AssignmentFiles
Collections.csv
DropIndividuals.rds
DropLoci.rds
DropLoci_lowMAF.rds
DropLoci_missingGT.rds
GP4Arlequin_Ind.txt
GP4Arlequin_Pop.txt
GenoCount00.rds
HF.rds
ID_Ind.rds
IndGeno00.rds
KanektokByReach.csv
KanektokForGenetics.xlsx
KanektokGenoDiff.txt
KrangeJoin.rds
KweKam_mykiss_samples.xlsx
KwethlukCoord.csv
LatLongGech.txt
LatLongPung.txt
LatLongTNWR.kmz
LatLongTNWR.txt
LatLongTNWR_OS.csv
LatLongTNWR_OS.kmz
LatLongTNWR_OS.txt
LatLongTNWR_rev.txt
LocNameCon.rds
Matala_etal_2014_SNP_Loci.csv
MetaData_temp
NegUngCoordinates.csv
NegUngcoords_revised.csv
OldFigures
Omy_SNP192-v4.1 sequences ordered.xlsx
PW_IntraDrainage.rds
PW_IntraDrainageMeanFst.rds
PW_IntraDrainageMeanFst_dapc.rds
PW_IntraDrainage_dapc.rds
RBTarchive_091112.xlsx
RBTsamples_64SNPs.xlsx
Response to Jeff Olsen questions on sample locations.docx
RiverFactors.rds
SampRemove.rds
TNWRRBTGenepopGD_Pvalues.txt
TNWRRBTGenepopHWP_LocSigTest.txt
TNWRRBTGenepopHWP_PopSigTest.txt
TNWRRBT_Arlequin_Final.txt
TNWRRBT_Arliquin_Pops.txt
TNWRRBT_GP.txt
TNWRRBT_GP.txt.INF
TNWRRBT_GP.txt.P
TNWRRBT_GP_Final.txt
TNWRRBT_GP_Final_GeneClass_Assignment_GN.txt
TNWRRBT_GP_Final_GeneClass_Assignment_IG.txt
TNWRRBT_GP_Final_GeneClass_Assignment_KN.txt
TNWRRBT_GP_Final_GeneClass_Assignment_SN.txt
TNWRRBT_GP_Final_GeneClass_Assignment_TG.txt
TNWRRBT_GP_Final_GeneClass_Assignment_UN.txt
TNWRRBT_GP_Final_GeneClass_Assignment_WD.txt
TNWRRBT_GP_Final_Ind.txt
TNWRRBT_GP_Final_IndKN.txt
TNWRRBT_GP_Final_OutDiffPW.txt
TNWRRBT_GP_Final_OutDiffPW_sub.txt
TNWRRBT_GP_GD.txt
TNWRRBT_GP_GeneClass.txt
TNWRRBT_GP_HW.txt
TNWRRBT_GP_HW_Pvalues.txt
TNWRRBT_GP_Ind_Final.txt
TNWRRBT_GP_Out.txt
TNWRRBT_GP_Pop_Final.txt
TNWRRBT_GPdapc_Final_OutDiffPW.txt
TNWRRBT_GPdapc_Final_OutDiffPW_sub.txt
TNWRRBT_GPdapc_HW.txt
TNWRRBT_GPdapc_Ind_Final.txt
TNWRRBT_GPdapc_Pop_Final.txt
TNWRRBT_GeneClass_Bayes_out.csv
TNWRRBT_GeneClass_Bayes_out2.csv
TNWRRBT_GeneClass_out.csv
TNWRRBT_OS_str.txt
TNWRRBT_str.txt
TNWRRBT_str_GN.txt
TNWR_Collections.csv
TNWR_Collections_old.csv
TNWR_MetaData.csv
Table1_TNWRRBT.docx
Table1_TNWRRBT.txt
Table1_TNWRRBT1.csv
Table2_TNWRRBT.docx
Table2_TNWRRBT.txt
Table3_TNWRRBT.docx
Table3_TNWRRBT.txt
TableS1_TNWRRBT.txt
TableS2_TNWRRBT.txt
TableS3_TNWRRBT.docx
TableS3_TNWRRBT.txt
TableS4_TNWRRBT.docx
TableS4_TNWRRBT.txt
TableS5_TNWRRBT.csv
TableS6_TNWRRBT.csv
WatershedFactors.rds
Watershed_Hs_km2.rds
cmdline.txt
fichier.in
input.rds
inputFinal.rds
inputFinal_dapcClusters.rds
input_pivot.rds
myUnique.csv
newClustersList.rds
rbtBB97_10_552_b.csv
tempGrpsFile.rds
~WRL1362.tmp
.Rdata
.httr-oauth
.DS_Store
TNWRRBT_GP.gen
